<%- model_class = Profile -%>
  <% if current_user.profile == nil %>
  <div class="no_profile">

  <h2> Ops! You don't have a profile yet.</h2>
  <!-- <li><%= link_to 'Create Profile', new_profile_path%></li> -->
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_profile_path,
            :class => 'btn btn-primary' %>
</div>
<% end %>
